body {
    line-height: 1.5em;
    margin-top: 0px;
    padding-top: 0px;
    font-family: sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-family: serif;
    font-weight: normal;
    margin-bottom: -5px;
}
hr {
    color: lightgray;
}

ol {

    padding-left: 20px;
}
#fromwiki {
    font-size: 12px;
    margin-top: 1px;
}

.mainPage {
    margin-top: 50px;
    position: relative;
    left: 10%;
    width: 76%;
}

.leftPage {
    margin-top: 0px;
    background-color: rgb(247, 247, 247);
    position: fixed;
    left: 0px;
    top: 20px;
    width: 175px;
}

.rightPage {
    position: absolute;
    right: 10px;
    top: 200px;
    width: 14%;
}

.linkBox {
    width: 70px;
    font-size: 13px;
    line-height: 1.7em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(146, 146, 146);
    width: 180px;

}

.boxTitle {
    text-align: center;
}

.rightTable {
    padding: 7px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #333;
}

.tdTitle {
    text-align: center;
    background-color: rgb(237, 243, 204);
}

.mapText {
    font-size: .9em;
    text-align: center;
}