body {
    font-family: sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5 {
    font-family: serif;
    font-weight: normal;
    margin-bottom: -5px;
}
hr {
    color: lightgray;
}
#fromwiki {
    font-size: 12px;
    margin-top: 1px;
}